<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fariza.mpezexpenses">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <supports-screens
        android:resizeable="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true"
        />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ezexpenses"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ezexpenses"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.group.GroupEdit" />
        <activity android:name=".ui.group.GroupInfo" />
        <activity android:name=".ui.expenses.ExpenseHistory" />
        <activity android:name=".ui.group.AddMember" />
        <activity
            android:name=".ui.group.GroupHomepage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.managegroup.ManageGroupFragment" />
        <activity android:name=".ui.expenses.AddExpense" />
        <activity android:name=".ui.group.AddGroup" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.profile.ProfileFragment" />
        <activity
            android:name=".BasicActivity.ResetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BasicActivity.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BasicActivity.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>